video#remote {
    width: 100%;
    height: 400px;
    
    margin-left: auto;
}

#my_font_text
{
  font-family: 'Oswald', sans-serif;
}

#center_box
{
 background: url('http://4.bp.blogspot.com/-IfPncxicC5g/UtJsFvKcCeI/AAAAAAAAGco/tzXriznVrZI/s1600/Dark-background-white-floral-pattern-HD-texture-image-free-download.jpg') no-repeat;
 background-size: 100% 100%;
margin-bottom:90px;
margin-top:20px; 
}
video#local {
    
    width: 100%;
    height: 150px;
    background: url('http://cliparwolf.com/image.php?pic=/images/white-background/white-background-08.jpg') no-repeat;
    	background-size: 100% 100%; 
    
}
.page-footer,.footer-copyright{
    position:absolute;
    bottom: 0px;
    height:0px;
    background:#ccc;
    width:100%;
}

main{
    flex: 1;
  }

#foot {
    background:#ccc;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
#spacing{
height:20px;
width: auto;
}

#team_pic_sdiv
{
align:center;

}
#team_pic
{
display: block;
    margin-left: auto;
    margin-right: auto;
border-radius:10px;
}

body
{
 background-color: #757575; 
 display: flex;
 min-height: 100vh;
 flex-direction: column;
}

.error {
    color: red;
}


#btn-call{
    text-align: center;
}

.material-icons {
  color: grey;
  }
/*label default color*/
.input-field label {
    color: white;
}

/*label focus color*/
.input-field input[type=text]:focus + label,.input-field input[type=password]:focus + label,.input-field input[type=date]:focus + label{
    color: white;
}

/* label underline focus color*/
.input-field input[type=text]:focus,.input-field input[type=password]:focus,.input-field input[type=date]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
    color: white;
}

.input-field input[type=text],.input-field input[type=password],.input-field input[type=date]{
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
    color: white;
}

/* label underline valid color */
.input-field input[type=text].valid,.input-field input[type=password].valid,.input-field input[type=date].valid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}
    /* invalid color */
.input-field input[type=text].invalid,.input-field input[type=password].invalid,.input-field input[type=date].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
    /* icon prefix focus color */
.input-field .prefix.active {
    color: white;
}

.error{
    text-decoration-color: red;
}

#error{
    color:red;
}

.picker__date-display, .picker__weekday-display{
    background-color: grey;
}