video#remote {
    width: 100%;
    height: 400px;
    
    margin-left: auto;
}

#my_font_text
{
  font-family: 'Oswald', sans-serif;
}

#center_box
{
 background: url('http://4.bp.blogspot.com/-IfPncxicC5g/UtJsFvKcCeI/AAAAAAAAGco/tzXriznVrZI/s1600/Dark-background-grey-floral-pattern-HD-texture-image-free-download.jpg') no-repeat;
 background-size: 100% 100%;
margin-bottom:90px;
margin-top:20px; 
}
video#local {
    
    width: 100%;
    height: 150px;
    background: url('http://cliparwolf.com/image.php?pic=/images/grey-background/grey-background-08.jpg') no-repeat;
    	background-size: 100% 100%; 
    
}

#foot {
    background: #222;
    color: #ccc;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
#spacing{
height:20px;
width: auto;
}

#team_pic_sdiv
{
align:center;

}
#team_pic
{
display: block;
    margin-left: auto;
    margin-right: auto;
border-radius:10px;
}

body
{
 background: url('http://wallpaper.zone/img/2565557.png') no-repeat ;
 background-size: 100% 100%; 
}
.error {
    color: #ff9696;
}


.input-field label {
    color: white;
}

/*label focus color*/
.input-field input[type=text]:focus + label{
    color: white;
}

/* label underline focus color*/
.input-field input[type=text]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
    color: white;
}

.input-field input[type=text]{
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
    color: white;
}

/* label underline valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}
    /* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}
    /* icon prefix focus color */
.input-field .prefix.active {
    color: white;
}

