<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Tornado WebRTC</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/materialize.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/main.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body id="home">
 
  <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="#" class="brand-logo center"><h4 id="my_font_text">WEBCHAT-BOX</h4></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <li><a href="#developers" class='dropdown-button' data-beloworigin="true" id="my_font_text" data-activates='dropdown1'>Meet Our Team</a></li>
        
      </ul>
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#developers" class=" black-text" >SANCHIT GOEL</a></li>
    <li><a href="#developers" class=" black-text" >SATYAM SAMMI</a></li>
  <li><a href="#developers" class=" black-text" >SAMEER MAKKER</a></li>     
  <li><a href="#developers" class=" black-text" >SATVIK MAHAJAN</a></li>
  <li><a href="#developers" class=" black-text" >SANDEEP KUMAR</a></li>
  </ul>   
   

<ul id="nav-mobile" class="left hide-on-med-and-down">
        
        <li><a href="#home" id="my_font_text" >Home</a></li>
        
      </ul>

    </div>
  </nav>
  </div>

<main>      
<div id="body">
  <div class="container" id="center_box" >
  <div class="row" id="center_div_container">
          <div class="col s12 m12 l8 offset-l2">
            <video id="remote" class="responsive-video" autoplay></video>
    </div>
  </div>
  <div class="row">
         
    <div class="col s12 m12 l8">
      <div class="forms">
            <ul>
      <li class="center">
      <input id="audio" type="checkbox" class="filled-in checkbox-login" checked="checked">      
      <label for="audio">Use mic</label>
              
      <input id="video" type="checkbox" class="filled-in checkbox-login"   checked="checked">      
      <label for="video" >Use webcam</label></li>
      <div id="spacing">
      </div>
      <li>
      <div class="progress grey darken-4">
            <div class="determinate grey" style="width: 70%"></div>
        </div>
      </li>
              <li class="btn-group center" >
                <button id="btn-call" class="btn green darken-5" onclick="call()">Call</button>
              </li>
      <li>
      <div class="progress grey darken-4">
            <div class="determinate grey" style="width: 70%"></div>
        </div>
      </li>
            </ul>
            </div>
        </div>
    <div class="col s12 m12 l4">
            <video id="local" class="responsive-video" autoplay muted></video>
    </div> 
  </div>

  </div>
  </div>
</main>
 <footer class="page-footer grey darken-4">
          <div class="grey darken-4">
            <div class="row">
              <div class="col l6 s10">
                
                <h3 class="grey-text text-lighten-4" id="my_font_text">A perfect place to connect.</h3>
              </div>
              <div class="col l4 offset-l2 s10">
                <h5 class="grey-text text-lighten-4" id="my_font_text">WINTER TRAINING PROJECT. </br> 2013-17 BATCH.</h5>
                
              </div>
            </div>
          </div>
       
  </footer>
    <!--div id="dialog-message" >
    <button id="btn-reject" class="btn left red " onclick="reject()">Reject</button>
      <button id="btn-accept" class="btn right green " onclick="accept()">Receve</button>
    </div-->
  
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
   <script src="{{ static_url('js/webrtc-adapter.js') }}"></script>
   <script src="{{ static_url('js/main.js') }}"></script>
   <script src="{{ static_url('js/materialize.min.js') }}"></script>
  </body>
</html>
