<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Register Tornado WebRTC</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ static_url('css/materialize.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ static_url('css/main.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
</head>
<body id="home">

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey darken-4">
        <a href="#" class="brand-logo center"><h4 id="my_font_text">WEBCHAT-BOX</h4></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          
          <li><a href="#developers" class='dropdown-button' data-beloworigin="true" id="my_font_text" data-activates='dropdown1'>Meet Our Team</a></li>
          
        </ul>
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="#developers" class=" black-text" >SANCHIT GOEL</a></li>
          <li><a href="#developers" class=" black-text" >SATYAM SAMMI</a></li>
          <li><a href="#developers" class=" black-text" >SAMEER MAKKER</a></li>     
          <li><a href="#developers" class=" black-text" >SATVIK MAHAJAN</a></li>
          <li><a href="#developers" class=" black-text" >SANDEEP KUMAR</a></li>
        </ul>   
        

        <ul id="nav-mobile" class="left hide-on-med-and-down">
          
          <li><a href="#home" id="my_font_text" >Home</a></li>
          
        </ul>

      </div>
    </nav>
  </div>
  <main>  
    <div id="body">
      <div class="container">
        <div class=" card-panel grey darken-4 col m8 s12 offset-m2 hover">
          {% if 'errormsg' in msg %}
          <div class="row">
            <div class="col s12 m6 offset-m4" id="error">
              <h5 class="error">{{ msg['errormsg'] }}</h5>
            </div>
          </div>
          {% end %}
          <form class="col s12" action="/register" method="post">
           {% module xsrf_form_html() %}
           <div class="row">
            <div class="input-field col s12 m4 offset-m2 ">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="text" class="validate" name="First_Name">
              <label for="icon_prefix2">First Name</label>
            </div>
            <div class="input-field col s12 m4 " >
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="text" class="validate" name="Last_Name" >
              <label for="icon_prefix2">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m4 offset-m2" >
              <i class="material-icons prefix">email</i>
              <input id="icon_prefix" type="text" class="validate" name="email" >
              <label for="icon_prefix2">Account ID</label>
            </div>
            <div class="input-field col s12 m4 " >
              <i class="material-icons prefix">today</i>
              <input id="icon_prefix" type="date" class="datepicker" name="dob">
              <label for="icon_prefix2">Date Of Birth</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m4 offset-m4" >
              <i class="material-icons prefix">vpn_key</i>
              <input id="icon_prefix" type="password" class="validate" name="password" >
              <label for="icon_prefix2">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m4 offset-m4" >
              <i class="material-icons prefix">vpn_key</i>
              <input id="icon_prefix" type="password" class="validate" name="renter_password" >
              <label for="icon_prefix2">Renter Password</label>
            </div>
          </div>
          <div class = "row">
          	<div class="col s12 m8 offset-m4">
          		<div class="g-recaptcha" data-sitekey="6LdlRCITAAAAAGwIvcs2r-Yf1RK7luQb5lr0ckrq" name='g-captcha'></div>
          	</div>
          </div>
          <div class="row">
            <input id="btn-submit" class="btn green darken-5  col s12 m2 offset-m5 waves-effect waves-light" type="Submit" value="Register">
          </div>
        </form>
      </div>
    </div>
  </div>
</main>




<footer class="page-footer grey darken-4">
  <div class="grey darken-4">
    <div class="row">
      <div class="col l6 s12">
        
        <h3 class="grey-text text-lighten-4" id="my_font_text">A perfect place to connect.</h3>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="grey-text text-lighten-4" id="my_font_text">WINTER TRAINING PROJECT. </br> 2013-17 BATCH.</h5>
        
      </div>
    </div>
  </div>
  
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="{{ static_url('js/webrtc-adapter.js') }}"></script>
<script src="{{ static_url('js/main.js') }}"></script>
<script src="{{ static_url('js/materialize.min.js') }}"></script>
<script src="{{static_url('js/date.js')}}"></script>
</body>
</html>
